$('#load').fadeOut().empty();
$('#note-error, #note-ok').empty();
$('#note-error').append("<div class='alert-message error'><p><strong>Oh snap!</strong> There was a problem sending your message!</p></div>").fadeIn();
$('#new_contact').fadeIn();