$('#load').fadeOut().empty();
$('#note-error, #note-ok').empty();
$('#note-ok').empty().append("<div class='alert-message success'><p><strong>Awesome!</strong> Message sent successfully!</p></div>").fadeIn();